<!--
  Generated template for the BuypagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center style="font-size:24px;"><b>BUY USD</b></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background_con">
  <div class="background">
      <ion-grid >
          <ion-row>
            <ion-col align="right">
              <img width="40" height="40" src="./assets/imgs/us.png">
            </ion-col>
            <ion-col class="center">
               <b style="font-size:22px;"> USD </b>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col align="right">
              <font style="font-size:22px;"> BUY</font>
            </ion-col>
            <ion-col align="center">
              |
            </ion-col>
            <ion-col align="left">
              <font style="font-size:22px;">SELL</font>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col align="right">
                <font color="green" style="font-size:24px;"> 31.18 </font>
              </ion-col>
              <ion-col align="center">
                |
              </ion-col>
              <ion-col align="left">
                <font color="red" style="font-size:24px;"> 31.88 </font>
              </ion-col>
            </ion-row>
        </ion-grid>
      </div>

  <font style="font-size:22px;">MY DEPOSIT</font>

  <div class="background">
      <ion-segment [(ngModel)]="relationship" color="primary">
          <ion-segment-button value="USD" >
              <p style="margin: 0; font-size:22px;">USD</p>
            </ion-segment-button>
          <ion-segment-button value="THB" >
              <p style="margin: 0; font-size:22px;">THB</p>

          </ion-segment-button>
        </ion-segment>
        <ion-input type="number" placeholder="Amount" style="font-size: 22px"></ion-input>
  </div>
  <br>
  <ion-label align="center" style="margin: 0; font-size:22px;" >Total ____ Unit (USD/THB) </ion-label>
    <br>
    <br>
    <div align="center">
        <div class="btn-primary"> Review </div>
    </div>


</ion-content>

