page-buypage {
  .alignme{

    position:absolute;
    right:0

  }

  .background_con{
    background-color: #f5f3f5;
  }

  .background{

    background-color: white;
    margin: 10px;

  }

  .button1 {
    border-radius: 5px;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    margin: 4px 2px;
    width: 100%;
  }

  .center {
    margin: auto;
    width: 60%;
    padding: 10px;
  }
}
