<!--
  Generated template for the RatePreviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <!-- <ion-title text-center >Wallet</ion-title> -->
        <div  text-center style="color: white;font-size: 24px;"><B>SCB Easy Travel</B></div>
      </ion-navbar>
      <div class="tab">
            <div style="color: white;font-size: 24px;" class="ped" text-center>SITANUN</div>
            <p style="margin: 0;"><img text-center class="circle-pic center_img" 
              src="../assets/imgs/img1.jpg" /></p>
      </div>
</ion-header>


<ion-content padding class="bg-content">
    <p style="padding-top: 35px;margin: 0;padding-left: 10px;color: #87838b;font-size: 20px;">MY DEPOSIT</p>
    <ion-card class="noshadow">
        <!-- <ion-card-header> -->
            <p style="margin: 0;padding-top: 10px;padding-left: 18px;color: #000000;font-size: 24px;">Savings</p>
        <!-- </ion-card-header> -->
        <!-- <ion-card-content> -->
            <p style="margin: 0;padding-left: 18px;color: #87838b;font-size: 24px;">222-222222-2</p>
            <p style="margin: 0;padding-right: 18px;color: #000000;font-size: 32px;" align="right">1,000,000.00 Bath</p>
        <!-- </ion-card-content> -->
      </ion-card>
      <p style="margin: 0;padding-left: 10px;color: #87838b;font-size: 20px;">MY WALLET</p>
      <ion-row>
          <ion-col>
            <div>
                <ion-card style="margin: 0;padding:10px;color: #000000;font-size: 22px;" class="ca noshadow">
                    <img class="center_img2" src="../assets/imgs/1.png"/>
                          <p text-center >100 USD</p>
                  </ion-card>
            </div>
          </ion-col>
          <ion-col>
            <div>
                <ion-card style="margin: 0;padding:10px;color: #000000;font-size: 22px;" class="ca noshadow">
                    <img class="center_img2" src="../assets/imgs/2.png"/>
                          <p text-center >80 GBP</p>
                  </ion-card>
            </div>
          </ion-col>
          <ion-col>
            <div>
                <ion-card style="margin: 0;padding:10px;color: #000000;font-size: 22px;" class="ca noshadow">
                    <img class="center_img2" src="../assets/imgs/3.png"/>
                          <p text-center >100 EUR</p>
                  </ion-card>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              <div>
                  <ion-card style="margin: 0;padding:10px;color: #000000;font-size: 22px;" class="ca noshadow">
                      <img class="center_img2" src="../assets/imgs/4.png"/>
                            <p text-center >70 AUD</p>
                    </ion-card>
              </div>
            </ion-col>
            <ion-col>
              <div>
                  <ion-card style="margin: 0;padding:10px;color: #000000;font-size: 22px;" class="ca noshadow">
                      <img class="center_img2" src="../assets/imgs/5.png"/>
                            <p text-center >100 HKD</p>
                    </ion-card>
              </div>
            </ion-col>
            <ion-col>
              <div>
                  <ion-card style="margin: 0;padding:10px;color: #000000;font-size: 22px;" class="ca noshadow">
                      <img class="center_img2" src="../assets/imgs/6.png"/>
                            <p text-center >0 JPY</p>
                    </ion-card>
              </div>
            </ion-col>
          </ion-row>
   <!-- <img text-center class="circle-pic center_img" 
    src="../assets/imgs/img1.jpg" />
    <p><button ion-button color="light" clear>Light Clear</button> -->
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col >
              <div>
                  
                      <img class="center_icon" src="../assets/imgs/home.png"/>
                            <p style="margin: 0;color: #4d2d7f;font-size: 18px;" text-center >Home</p>
                    
              </div>
            </ion-col>
            <ion-col>
              <div>
                  
                      <img class="center_icon" src="../assets/imgs/dollar-symbol.png"/>
                            <p style="margin: 0;color: #000000;font-size: 18px;" text-center >Rate</p>
                    
              </div>
            </ion-col>
            <ion-col>
              <div>
                  
                      <img class="center_icon" src="../assets/imgs/megaphone-2.png"/>
                            <p style="margin: 0;color: #000000;font-size: 18px;" text-center >Promotion</p>
                    
              </div>
            </ion-col>
          </ion-row>
    </ion-toolbar>
  </ion-footer>
