<!--
  Generated template for the CurrencyRate_2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>USD Rate</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey">
  <img src="./assets/imgs/rate-1.png"/>
  <div class="content-padding">
    <ion-row justify-content-between>
      <div>CURRENT</div>
      <div>100 USD</div>
    </ion-row>
    <ion-row>
      <img class="rate-card" src="./assets/imgs/rate-card.png" />
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-row>
          <div class="radio" (click)="radioCheck('BUY')" [class.active]="currentStep === 'BUY'"></div>
          <span>BUY USD</span>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row>
          <div class="radio" (click)="radioCheck('SELL')" [class.active]="currentStep === 'SELL'"></div>
          <span>SELL USD</span>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <button type="button" class="btn-buy">Submit</button>
    </ion-row>
  </div>


</ion-content>