page-currency-rate-2 {

    .rate-card {
        height: 100px;
        margin: 16px 0;
        width: 100%;
    }

    .radio {
        width: 22px;
        height: 22px;
        margin: 0 20px;
        border-radius: 50%;
        border: 1px solid map-get($colors, #cccccc);
        background: white;
        &.active {
            background: map-get($colors, primary);
            border: 1px solid map-get($colors, primary);
        }
    }

    .btn-buy {
        margin-top: 20px;
        width: 100%;
        color: white;
        background: map-get($colors, primary);
        height: 50px;
        &:active {
            background: map-get($colors, secondary);
        }
    }
}
