<!--
  Generated template for the PromotionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>Promotion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment color="primary" [(ngModel)]="type">
      <ion-segment-button value="RECOMMENDED">
        Recommended
      </ion-segment-button>
      <ion-segment-button value="SEARCH">
        Search
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-row class="bg-grey" *ngIf="type === 'RECOMMENDED'">
    <img src="./assets/imgs/promotion-1.png" style="height:540px"/>
  </ion-row>
  <ion-row class="bg-grey" *ngIf="type === 'SEARCH'">
    <img src="./assets/imgs/promotion-2.png" style="height:540px"/>
  </ion-row>
</ion-content>