page-promotion {
    .toolbar-ios .segment-button {
        max-width: 100%;
    }

    .toolbar-background-md {
        background: white;
    }
    
    .segment-md .segment-button {
        font-size: 24px;
        font-weight: 600;
    }

    .card-item {
        col {
            margin: 16px;
            background: white;
        }
    }

    .toolbar-ios {
        top: 1px;
    }
}
