<!--
  Generated template for the ExratePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
      <!-- <ion-title text-center >Wallet</ion-title> -->
      <div style="color:white;font-size: 24px;"  text-center><B>SCB Exchange</B></div>
    </ion-navbar>
    <div class="tab">
      <br>
          <div  style="color:white;font-size: 20px;"  class="ped" text-center>
          <ion-row>
              <ion-col >
                <div text-center>
            Currency/Baht
                </div>
              </ion-col>
              <ion-col></ion-col>
             
              <ion-col>
                <div text-center style="margin: 0;padding-right: 22px;">
                    BUY
                </div>
                </ion-col>
              <ion-col >
                <div text-center style="margin: 0;padding-right: 22px;">SELL</div>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </div>
    </div>
  </ion-header>

<ion-content padding>
     <!-- &nbsp;   <br>
    <hr><br>
<ion-img style="width: 40px; height: 40px;" src="https://image.flaticon.com/icons/svg/197/197604.svg"></ion-img>     JPY<br>
    <hr><br>
<ion-img style="width: 40px; height: 40px;" src="https://image.flaticon.com/icons/svg/551/551953.svg"></ion-img>   USD<br>
    <hr><br> -->
    <!-- Thai  -->
    <ion-row>
        <ion-col>
          <div>
            <ion-img style="width: 40px; height: 40px;" src="../assets/imgs/1.png"></ion-img>
          </div>
        </ion-col> 
        <ion-col>
          <div style="font-size: 20px;" text-center>USD</div>
        </ion-col>
        <ion-col >
          <div  style="font-size: 20px;" text-center>
               32.2
          </div>
          </ion-col >
        <ion-col >
          <div style="font-size: 20px;" text-center>40
          
        </div>
        </ion-col>
        <ion-col>
            <div style="color:#bbbabb;font-size: 30px;" align="right" >></div>
      </ion-col>
      </ion-row>
      <hr><br>
      <!-- Japan  -->
      <ion-row>
          <ion-col >
            <div>
              <ion-img style="width: 40px; height: 40px;" src="../assets/imgs/2.png"></ion-img>
            </div>
          </ion-col>
          <ion-col >
            <div style="font-size: 20px;" text-center>GBP</div>
          </ion-col>
          <ion-col >
            <div style="font-size: 20px;" text-center>
                52.3
            </div>
            </ion-col>
          <ion-col >
            <div style="font-size: 20px;" text-center>41
                </div>
          </ion-col>
          <ion-col>
              <div style="color:#bbbabb;font-size: 30px;" align="right" >></div>
        </ion-col>
        </ion-row>
        <hr><br>
        <!-- AUD  -->
        <ion-row>
            <ion-col >
              <div>
                <ion-img style="width: 40px; height: 40px;" src="../assets/imgs/3.png"></ion-img>
              </div>
            </ion-col>
            <ion-col >
              <div style="font-size: 20px;" text-center>AUD</div>
            </ion-col>
            <ion-col >
              <div style="font-size: 20px;" text-center>
                  52.3
              </div>
              </ion-col>
            <ion-col >
              <div style="font-size: 20px;" text-center>41
              </div>
            </ion-col>
            <ion-col>
                <div style="color:#bbbabb;font-size: 30px;" align="right" >></div>
          </ion-col>
          </ion-row>
          <hr><br>
          <!-- HKD -->
        <ion-row>
            <ion-col >
              <div>
                <ion-img style="width: 40px; height: 40px;" src="../assets/imgs/4.png"></ion-img>
              </div>
            </ion-col>
            <ion-col >
              <div style="font-size: 20px;" text-center>HKD</div>
            </ion-col>
            <ion-col >
              <div style="font-size: 20px;" text-center>
                  52.3
              </div>
              </ion-col>
            <ion-col >
              <div style="font-size: 20px;" text-center>41</div>
            </ion-col>
            <ion-col>
                <div style="color:#bbbabb;font-size: 30px;" align="right" >></div>
          </ion-col>
          </ion-row>
          <hr><br>
          <!-- JPY -->
        <ion-row>
            <ion-col >
              <div>
                <ion-img style="width: 40px; height: 40px;" src="../assets/imgs/5.png"></ion-img>
              </div>
            </ion-col>
            <ion-col >
              <div style="font-size: 20px;" text-center>JPY</div>
            </ion-col>
            <ion-col >
              <div style="font-size: 20px;" text-center>
                  52.3
              </div>
              </ion-col>
            <ion-col >
              <div style="font-size: 20px;" text-center>41</div>
            </ion-col>
            <ion-col>
                  <div style="color:#bbbabb;font-size: 30px;" align="right" >></div>
            </ion-col>
          </ion-row>
          <hr><br>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col >
              <div>
                  
                      <img class="center_icon" src="../assets/imgs/home.png"/>
                            <p style="margin: 0;color: #4d2d7f;font-size: 18px;" text-center >Home</p>
                    
              </div>
            </ion-col>
            <ion-col>
              <div>
                  
                      <img class="center_icon" src="../assets/imgs/dollar-symbol.png"/>
                            <p style="margin: 0;color: #000000;font-size: 18px;" text-center >Rate</p>
                    
              </div>
            </ion-col>
            <ion-col>
              <div>
                  
                      <img class="center_icon" src="../assets/imgs/megaphone-2.png"/>
                            <p style="margin: 0;color: #000000;font-size: 18px;" text-center >Promotion</p>
                    
              </div>
            </ion-col>
          </ion-row>
    </ion-toolbar>
  </ion-footer>
