<!--
  Generated template for the RatePreviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <!-- <ion-title text-center >Wallet</ion-title> -->
        <div  text-center style="color: white;font-size: 24px;"><B>Preview</B></div>
      </ion-navbar>
      
</ion-header>


<ion-content padding >
    
    <ion-card class="noshadow">     
            <ion-row>
                <ion-col col-9 push-3>
                  <div> <p style="margin: 0;color: #000000;font-size: 26px;" align="right">SITANUN BOONRUNG</p></div>
                </ion-col>
                <ion-col col-3 pull-9>
                  <div><p style="margin: 0;color: #000000;font-size: 22px;" align="left">From</p></div>
                </ion-col>
              </ion-row>
      </ion-card>
      <ion-card class="noshadow">  
          <ion-row>
              <ion-col col-4>
                <div><p style="margin: 0;color: #000000;font-size: 22px;" align="left">Buy</p></div>
              </ion-col>
              <ion-col col-3>
                <div align="right"><img class="center_img2" src="../assets/imgs/1.png"></div>
              </ion-col>
              <ion-col col-5>
                <div><p style="margin: 0;color: #000000;font-size: 26px;" align="right">100.00 USD</p></div>
              </ion-col>
            </ion-row>
              <div> <p style="margin: 0;color: #bbbabb;font-size: 24px;" align="right">1 USD = 31.88 THB</p></div>
    </ion-card>
    <ion-card class="noshadow">     
        <ion-row>
            <ion-col col-9 push-3>
              <div> <p style="margin: 0;color: #000000;font-size: 26px;" align="right">3,188.00 THB</p></div>
            </ion-col>
            <ion-col col-3 pull-9>
              <div><p style="margin: 0;color: #000000;font-size: 22px;" align="left">Amout</p></div>
            </ion-col>
          </ion-row>
  </ion-card>
  <ion-card class="noshadow">     
      <ion-row>
          <ion-col col-9 push-3>
            <div> <p style="margin: 0;color: #000000;font-size: 26px;" align="right">0.00 THB</p></div>
          </ion-col>
          <ion-col col-3 pull-9>
            <div><p style="margin: 0;color: #000000;font-size: 22px;" align="left">Fee</p></div>
          </ion-col>
        </ion-row>
</ion-card>
<br><br><br><br><br><br><br><br><br><br>
<button ion-button block >Confirm</button>

<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col >
              <div>
                  
                      <img class="center_icon" src="../assets/imgs/home.png"/>
                            <p style="margin: 0;color: #4d2d7f;font-size: 18px;" text-center >Home</p>
                    
              </div>
            </ion-col>
            <ion-col>
              <div>
                  
                      <img class="center_icon" src="../assets/imgs/dollar-symbol.png"/>
                            <p style="margin: 0;color: #000000;font-size: 18px;" text-center >Rate</p>
                    
              </div>
            </ion-col>
            <ion-col>
              <div>
                  
                      <img class="center_icon" src="../assets/imgs/megaphone-2.png"/>
                            <p style="margin: 0;color: #000000;font-size: 18px;" text-center >Promotion</p>
                    
              </div>
            </ion-col>
          </ion-row>
    </ion-toolbar>
  </ion-footer>
