page-rate-preview {
    .circle-pic{
        width:100px;
        height:100px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        object-fit: cover;
    }
    .ca{
        width:100px;
        height:100px;
    }
    .center_img {
        display: block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .center_img2 {
        width:40px;
        height:40px;
        display: block;
    
        left: 0;
        right: 0;
    }
    
    .center_icon {
        width:28px;
        height:28px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    .tab {
        background-color: #4d2d7f;
        width:100%;
        height:90px;
    }
    .center {
        margin: auto;
        width: 50%;
    }
    .ped {
         padding: 10px;
        // padding-top: 15px;
    }
    .bg-content {
        background: #f5f3f5;
    }
    .right {
        position: absolute;
        right: 150px;    
        width: 200px;
        height: 120px;
        border: 3px solid green;
    } 
    .noshadow {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px solid #bbbabb;
        }
    .card-md p  {
        font-size: 22px;

    }
    .center-button
     {
        width:322px;
        height:50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}